# Ignores output folder where waves and .txt files are stored
out/

# Ignores object directory where Verilator output is stored
obj_dir

# Ignores modelsim work dir and transcript
work/
transcript

# Ignores HEX files from memory RTL modules
rtl/memory/*.hex

# Ignores backup files
*.bak
